<div id="welcome" class="welcome-area pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <h2>Our <span>Vision</span></h2>
            <p>To be a global leader in delivering exceptional and versatile tech solutions, encompassing software development, testing, and advanced drone applications, while continuously pushing the technological envelope and fostering a culture of innovation, integrity, and excellence.</p>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-box">
                    <div class="icon">
                        <i class="far fa-edit"></i>
                    </div>
                    <h3>Creative Design</h3>
                    <p>At STS, design isn't just about aesthetics—it's about crafting experiences. Our design philosophy marries innovation with functionality, resulting in creations that not only captivate but also resonate.</p>
                    <a (click)="onClick('about')" title="Read More" class="link-btn"><i class="fa fa-arrow-right"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-box">
                    <div class="icon">
                        <i class="fas fa-laptop"></i>
                    </div>
                    <h3>Flexibility</h3>
                    <p>At STS, we've embraced 'Flexibility' not just as a trait but as a core philosophy. Every solution we offer, every line of code we craft, is infused with a flexibility that caters to evolving demands and future scalability</p>
                    <a (click)="onClick('why-we-here')" title="Read More" class="link-btn"><i class="fa fa-arrow-right"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-box">
                    <div class="icon">
                        <i class="far fa-life-ring"></i>
                    </div>
                    <h3>Quolity Assurance</h3>
                    <p>At STS, Quality Assurance is not just a step but our ethos, where we blend industry-leading tools and expertise to set, not just meet, the highest software standards, ensuring resilience and excellence.</p>
                    <a (click)="onClick('why-we-here')" title="Read More" class="link-btn"><i class="fa fa-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="shape2"><img src="assets/img/shape1.png" alt="image"></div>
</div>
